<section class="app-page user-select-none">
  <header class="header">
    <div class="header-top">
      <!--
      <img [src]="LOGO_CDN" class="logo" alt="logo">
      -->
        <div class="search-box">
            <input type="search" class="search-input" placeholder="请输入关键词" (keyup.enter)="search()" [(ngModel)]="searchKeyword">
            <button class="search-btn" (click)="search()">搜索</button>
        </div>
      <div class="open" [class.active]="open" (click)="handleToggleOpen()">
        <i></i>
        <i></i>
        <i></i>
      </div>
    </div>
    <nav class="nav-open">
      <div
        *ngFor="let item of websiteList; let i = index;"
        (click)="handleCilckNav(i)"
        [class.active]="page === i"
        [class.remove]="!isLogin && item.ownVisible"
        class="nav-title"
      >
        {{ item.title }}
      </div>
    </nav>
  </header>

  <div class="wrapper" *ngIf="websiteList[page] && !a else article">
    <nav class="children-nav" *ngIf="websiteList[page].nav.length > 1">
      <a
        class="tag"
        *ngFor="let item of websiteList[page].nav; let i = index"
        [class.active]="id === i"
        [class.remove]="!isLogin && item.ownVisible"
        (click)="handleSidebarNav(i)"
      >
        {{ item.title }}
      </a>
    </nav>
    <ul>
      <li *ngFor="let item of currentList">
        <h2 class="block-title" *ngIf="item.title">
          {{ item.title }} x {{ item.nav.length }}
        </h2>
        <div class="row">
          <div class="item-list" *ngFor="let el of item.nav; index as i;">
            <a [href]="el.url" target="_blank">
              <div class="top">
                <app-logo
                  [src]="el.icon"
                  [name]="el.name"
                  [size]="30"
                >
                </app-logo>
                <em class="name" [title]="el.name" [innerHTML]="el.name"></em>
              </div>
              <pre class="desc" [title]="el.desc" [innerHTML]="el.desc"></pre>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <ng-template #article>
    <div class="wrapper" style="background: #fff;padding-top: 1px">
    <app-article [a]="a" *ngIf="a>0"></app-article>
    </div>
  </ng-template>
</section>
